.loginOptions {
  max-width: 400px;
  margin: 100px auto;
  padding: 25px;
  text-align: center;
  border: 1px solid #ccc;


  select {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .button {
    margin-top: 20px;
  }
}
