.loginOptions {
  max-width: 400px;
  margin: 100px auto;
  padding: 30px;
  text-align: center;


  select {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
}
