header {
  color: white;
  background: #1E2A38;
  display: flex;
}

header div.login {
  flex: 1;
  margin-right: 0.5rem;
  text-align: right;
  display: flex; 
  justify-content: flex-end;
  align-items: flex-end;
}
