header {
  color: white;
  background: #1e2a38;
  display: flex;
  height: 70px;
  align-items: center;

  > a {
    text-decoration: none;
    color: inherit;
  }

  div.login {
    flex: 1;
    margin-right: 0.5rem;
    text-align: right;
    margin-top: 45px;
  }
}
