header {
  color: white;
  background: #1e2a38;
  display: flex;
}

header div.login {
  flex: 1;
  margin-right: 0.5rem;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

header > a {
  text-decoration: none;
  color: inherit;
}
