div#root {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  div.centerpane {
    background: WhiteSmoke;
    width: 100%;
    flex: 1;
    display: grid;
    grid-template-rows: auto 1fr auto;

    > main {
      padding: 30px;
      width: 100%;
    }
  }
}
