nav {
  display: flex;
  overflow: hidden;
  background-color: #273847;
  justify-content: space-between;
  align-items: center;

  .navCenter {
    display: flex;
    flex: 1;
    justify-content: center;
  }

  .navRight {
    display: flex;
  }

  div.navItem {
    padding: 15px;

    &:hover {
      background-color: #3b82f6;
    }

    &.login a {
      text-decoration: underline;
    }

    a {
      color: #f9fafb;
      text-decoration: none;

      &.navSelected {
        color: #96bfff;
      }
    }
  }
}
