nav {
  display: flex;
  overflow: hidden;
  background-color: #273847;
  justify-content: center;

  div.navItem {
    padding: 15px;

    &:hover {
      background-color: #3b82f6;
    }

    a {
      color: #f9fafb;
      text-decoration: none;

      &.navSelected {
        color: #96bfff;
      }
    }
  }
}
