.buttonTray {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 13px;
}

.button {
  padding: 8px 16px;
  font-size: 0.85rem;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease;
  margin-bottom: 10px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  .Icon,
  img {
    width: 20px;
    height: 20px;
    filter: brightness(0) invert(1);
  }
}

.button.primary {
  background: #304358;
  border: 1px solid rgba(105, 105, 105, 0.4);

  &:hover {
    background: #4a6585;
  }
}

.button.secondary {
  background: #40606f;
  border: 1px solid rgba(255, 255, 255, 0.4);

  &:hover {
    background: #4d6570;
  }
}

.button.danger {
  background: #ff00004a;
  border: 1px solid rgba(255, 255, 255, 0.4);

  &:hover {
    background: #f661614a;
  }
}

.button.darkDanger {
  background: #630404ea;
  border: 1px solid rgba(255, 255, 255, 0.4);

  &:hover {
    background: #733030ea;
  }
}
