.btn {
  padding: 8px 16px;
  font-size: 0.85rem;
  color: #fff;
  background: #304358;
  border: 1px solid rgba(105, 105, 105, 0.4);
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease;
  margin-bottom: 10px;

  &:hover {
    background: #4a6585;
  }
}
