div.cardContainer {
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px;
  justify-content: center;

  div.card {
    flex: 1 1 400px;
    min-width: 400px;
    max-width: 400px;
    height: 100%;
    padding: 22px;
    border-radius: 9px;
    background: #273847;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #d1d1d1;
  }
}
