$BorderGrey: LightGrey;
$Green: #29e7cd;
$Red: #edafb8;
$DarkGreen: darken($Green, 10%);
$DarkRed: darken($Red, 20%);

form.Form {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 10px 0;

  &.Bordered {
    margin: 10px 0;
    padding: 20px;
    border: 1px solid $BorderGrey;
    border-radius: 5px;
  }

  div.FormTray {
    width: 100%;
    margin-bottom: 20px;
  }
}

div.FormItem {
  margin-bottom: 20px;

  label.FormLabel {
    display: block;
    font-weight: 600;
  }

  p.FormAdvice {
    color: $DarkGreen;
    font-weight: 400;
    font-size: 90%;
  }

  select.FormInput,
  input.FormInput,
  textarea.FormInput {
    width: 100%;
    padding: 3px;
    margin: 1px 0;
    font-size: 100%;
    border-radius: 0px;
    border: 1px solid $BorderGrey;
    background: White;
    resize: none;

    &::placeholder,
    &:disabled {
      color: Grey;
      font-weight: 300;
    }

    &:hover,
    &:focus {
      outline-width: 1px;
      outline-color: red;
      outline-style: solid;
      border-width: 1px;
      border-style: solid;
    }

    &:hover {
      border-color: $BorderGrey;
      outline-color: $BorderGrey;
    }

    &:focus {
      border-color: $DarkGreen;
      outline-color: $DarkGreen;
    }

    &[type="number"] {
      text-align: left;
    }

    &.FormError {
      border-color: $DarkRed;
      outline-color: $DarkRed;
    }
  }

  p.FormError {
    color: $DarkRed;
    font-weight: 400;
    font-size: 90%;
  }
}
